<div class="login-section">
  <h3 class="center">Login with</h3>
  <button class="btn fb" (click)="facebookLogin()">Facebook</button>
  <hr />
  <button class="btn google" (click)="googleLogin()">Google</button>
  <hr />
  <button class="btn phone" routerLink="/phone-login">phone number</button>
  <hr />
  <button class="btn email" routerLink="/email-login">
    Email and Password
  </button>
  <hr />
  <p class="center">OR</p>

  <h3 class="center">Sign up</h3>
  <form [formGroup]="user" (ngSubmit)="signUp(user)">
    <label for="email" class="label">Email</label>
    <input
      id="email"
      class="input text"
      type="email"
      placeholder="enter email"
      formControlName="email"
      required
    />

    <label for="password" class="label">Password</label>
    <input
      id="password"
      class="input text"
      type="password"
      placeholder="enter password"
      formControlName="password"
      minlength="6"
      required
    />

    <br /><br />

    <button class="btn signUp" [disabled]="user.invalid">Sign up</button>
  </form>
</div>
