<div class="login-section">
  <h3 class="center">Login</h3>
  <label for="phone" class="label">Phone number</label>
  <div>
    <input type="text" value="+27" class="area-code" readonly />
    <input
      id="phone"
      type="number"
      class="phone-number text"
      [(ngModel)]="phone"
      placeholder="e.g 123456789"
    />
  </div>

  <div id="recaptcha-container"></div>

  <button class="input login" (click)="sendLoginCode()">Send Code</button>

  <div>
    <label for="code" class="label">Verification Code</label>
    <input id="code" type="number" class="input text" [(ngModel)]="code" />
    <button
      type="button"
      class="input login"
      (click)="verifyLoginCode()"
      [disabled]="verifyDisabled"
    >
      Verify Code
    </button>
  </div>
</div>
